= render :template => "/topics/show"

.modal.reset-pass-modal.hide.fade{id: "reset-password"}
  .modal-header
    %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
      &times
    %h3 Welcome to MightBuy.it! 
  = form_for(current_user, :url => update_password_invite_path(), remote: true,html: {method: :put}) do |f|
    .modal-body
      .row-fluid
        .span12
          MightBuy is for tracking things you MightBuy, such as the <b> #{@topic.product.try(:name)} </b> you looked at when visiting <b> #{@topic.business.try(:name)} </b>! 
      .row-fluid
        .span6
          /Set your password!
          %br
          = f.password_field :password, {:placeholder => "set your password"}
          %hr
          %h5
            Features
          %ul.feature-list
            %li
              Ask <b> #{@topic.business.try(:name)} </b> questions about this product
            %li
              Share, ask your friends to vote!              
            %li
              Save to your wishlist for later
            %li
              Buy online!
          %hr  
          %h5
            - if @topic.product.bargin
              Bonus Incentives
              .deals
                %span.vote-count
                  = @topic.product.bargin.bargin_conditions.first.operator  
                  = @topic.product.bargin.bargin_conditions.first.operand  
                  = @topic.product.bargin.bargin_conditions.first.object
                  from friends = 
                %span.percent-off
                  = @topic.product.bargin.offer
        .span6
          %div.your-pic
            = image_tag topic_image(@topic), alt: @topic.subject
    .modal-footer
      .powered-caption
        Powered by: 
        %img{:src=>"/assets/logo-small.png"}
      = f.submit "Save", :class => 'btn btn-red'
