= render :template => "/topics/show"

.modal.reset-pass-modal.hide.fade{id: "reset-password"}
  .modal-header
    %button.close{type: "button", "data-dismiss" => "modal", "aria-hidden" => "true"}
      &times
    %h3 Your #{@topic.product.try(:name)} from #{@topic.business.try(:name)} picture!
  = form_for(current_user, :url => update_password_invite_path(), remote: true,html: {method: :put}) do |f|
    .modal-body
      .row-fluid
        .span12
          Thanks for visiting on #{current_user.created_at.to_s(:short)}. Here is the pic, just set a password below.
      .row-fluid
        .span6
          %br
          = f.password_field :password, {:placeholder => "password"}
          %hr
          %h5
            Features
          %ul.feature-list
            %li
              Download pic
            %li
              Save to your wishlist, share.
            %li
              Comment, ask questions
            %li
              Buy online!
          %hr  
          %h5
            Deals
          .deals
            %span.vote-count
              5 
            Votes from friends = 
            %span.percent-off
              20% off
        .span6
          %div.your-pic
            = image_tag topic_image(@topic), alt: @topic.subject
    .modal-footer
      .powered-caption
        Powered by: 
        %img{:src=>"/assets/logo-small.png"}
      = f.submit "Save", :class => 'btn btn-red'
