#login-lightbox
  .container
    .row
      .span12
        %p.caption
          Thanks for voting or commenting!
          %br
          You need to log in to save your vote or comment
    .row
      .span1
        &nbsp;
      .span5
        %p
          Already a member? Sign-in

        = simple_form_for :user, url: new_user_session_path, remote: true, html: { id: "signin_user" } do |f|
          - if params[:controller] == "sessions"
            = f.input :email
          - else
            = f.input :email, input_html: { value: "" }

          = f.input :password
          %a{:href=>"#"} Forgot your password?
          .user-signin-form-submit
            = f.submit "Sign in!", class: "btn btn-red pull-right"
          .clear

        .row
          .span5.font18.mtop-leftcol
            .pull-right.mright40
              = link_to user_omniauth_authorize_path(:facebook) do
                .facebook-icon.pull-left
              = link_to user_omniauth_authorize_path(:twitter) do
                .twitter-icon.pull-left

            Or you could sign in with
            %br
            Facebook & Twitter!
          .clear


      .span5.col-right
        %p
          Join us today!
        = form_for user, html: { data: { remote: true, type: :json } } do |f|
          .control-group
            = f.label :name, class: 'control-label'
            .controls
              = f.text_field :name, required: false
              .help-inline

          .control-group
            = f.label :password, class: 'control-label'
            .controls
              = f.password_field :password
              .help-inline

          .control-group
            = f.label :email, class: 'control-label'
            .controls
              = f.text_field :email
              .help-inline

          .new-user-form-submit
            = f.submit "Get Started!", class: "btn btn-red pull-right"
          .clear

        .row
          .span5.font18.mtop-rightcol
            .pull-right.mright40
              = link_to user_omniauth_authorize_path(:facebook) do
                .facebook-icon.pull-left
              = link_to user_omniauth_authorize_path(:twitter) do
                .twitter-icon.pull-left

            Or you could also join us
            %br
            with Facebook & Twitter!
          .clear
