%li
  .row
    .span2.item-list-image
      = image_tag(topic.thumbnail_image, alt: topic.subject)
    .span7.pull-right
      .span5.topic-description
        .topic-title
          = link_to(topic.subject.capitalize, topic_path(topic))
        .topic-url
          = link_to(topic.short_url, topic.url)
        .topic-listing-tag
          = tag_links(topic)
        .topic-meta-all.mtop15
          %span
            = link_to(topic.poster_name(current_user), user_path(topic.user))
            Mightbuy this
            = link_to(copy_topic_path(topic)) do
              = image_tag("add_icon.png")
      .span1.pull-right.topic-list-actions
        %div.price
          = number_to_currency(topic.price)
        .clear
    .clear
