#topic-deals
  .span4
    - if @topic.product.bargin and (@topic.product.bargin.public or @topic.user == current_user)
      %h3 Deals
      .bargin
        .description
          = @topic.product.bargin.description

          - if @topic.product.bargin.accept_payments == true && @topic.product.bargin.payment_type == "MightBuy"
            %form{ action: "/topics/#{@topic.shortcode}/payments/process", method: :post, style: "margin-left: 40px;"}
              %script.stripe-button{ data: { address: '', amount: ((@topic.product.price*100.0)*@topic.product.bargin.value.to_f/100).to_i, key: 'pk_LdHsiwROde1xSfRJxlblt2gNiCD8m' }, src: 'https://button.stripe.com/v1/button.js' }

          - else
            = @topic.product.bargin.inspect.to_s
            - if @topic.bargin_valid?
              - if @topic.product.bargin.other and not @topic.product.bargin.other.blank?
                %br
                = @topic.product.bargin.other
                %br
              - if @topic.product.bargin.url and not @topic.product.bargin.url.blank?
                %br
                = link_to 'Get Deal!', @topic.product.bargin.url, class: 'btn-large btn-danger'

            - elsif @topic.product.bargin.bargin_conditions.length > 0
              Valid with
              = @topic.product.bargin.bargin_conditions.first.operator
              = @topic.product.bargin.bargin_conditions.first.operand
              = @topic.product.bargin.bargin_conditions.first.object
            %br