#topic-deals
  .span4
    - if @topic.product.bargin and (@topic.product.bargin.public or @topic.user == current_user)
    %h3 Deals
      .bargin
        .description
          = @topic.product.bargin.description
          - if @topic.product.bargin.accept_payments == true && @topic.product.bargin.bargin_type == "percentage"
            %form{:action => "/topics/#{@topic.shortcode}/payments/process", :method => "post", :style => "margin-left: 40px;"}
              %script.stripe-button{"data-address" => "", "data-amount" => ((@topic.product.price*100.0)*@topic.product.bargin.value.to_f/100).to_i, "data-description" => @topic.product.name, "data-key" => "pk_LdHsiwROde1xSfRJxlblt2gNiCD8m", :src => "https://button.stripe.com/v1/button.js"}
        %input{:class => "button_buy", :name => "commit",
          :type => "submit", :value => "Buy It!",
          :class => "btn-large btn-danger",
          :onClick => "window.location.href = '#{@topic.product.bargin.url}'",
          :disabled => !@topic.bargin_valid? }
        %br
        - if @topic.product.bargin.bargin_conditions.length > 0
          Valid with
          = @topic.product.bargin.bargin_conditions.first.operator
          = @topic.product.bargin.bargin_conditions.first.operand
          = @topic.product.bargin.bargin_conditions.first.object
        %br
