.span4
  .topic-image.mleft40
    = image_tag topic_image(@topic), :size => "254x216"
.span6
  .topic-details
    .topic-subject= @topic.subject.capitalize
    .topic-url.mtop10
      =link_to(@topic.short_url,@topic.url)
    .topic-meta.mtop10
      %span
        = @topic.poster_name
        added this #{time_ago_in_words(@topic.created_at)} ago
    .topic-tags.mtop10
      - unless @topic.tags.empty?
        %span
          Tags :&nbsp;
        = tag_links(@topic)
    .topic-body.mtop15= @topic.body.capitalize
    .topic-price.mtop50= number_to_currency(@topic.price)
