%li
  .span2.item-list-image
    = image_tag(topic.iImage)
  .span7
    .span4.topic-description
      .topic-title
        = link_to(topic.subject.capitalize, topic.url)
      .topic-listing-tag
        = link_to("shoes")
        ,
        = link_to("dress")
      .topic-meta
        %span
          = topic.user.name
          added this #{time_ago_in_words(topic.created_at)} ago
    .span2.pull-right
      .topic-actions
        = image_tag("delete.jpg")
      .clear
      %div.price
        = number_to_currency(topic.price)
      .clear
  .clear