.span4
  .topic-image.mleft40
    = image_tag topic_image(@topic), alt: @topic.subject
.span6
  .topic-details
    .topic-subject= @topic.subject.capitalize
    .topic-url.mtop10
      =link_to(@topic.short_url,@topic.url, :target=>"_blank")
    - if @topic.owner?(current_user)
      .topic-meta.mtop10
        %span
          = @topic.poster_name(current_user)
          added this #{time_ago_in_words(@topic.created_at)} ago
    .topic-tags.mtop10
      - unless @topic.tags.empty?
        %span
          Tags :&nbsp;
          = render :partial => "/shares/tags", :locals => {:topic => @topic }
  - if @topic.product.accept_payments == true
    %form{:action => "/topics/#{@topic.shortcode}/payments/process", :method => "post", :style => "margin-left: 40px;"}
      %script.stripe-button{"data-address" => "", "data-amount" => (@topic.product.price*100).to_i, "data-description" => @topic.product.name, "data-key" => "pk_LdHsiwROde1xSfRJxlblt2gNiCD8m", :src => "https://button.stripe.com/v1/button.js"}

    .topic-body.mtop15.pright20
      = @topic.body.try(:capitalize)
    - if @topic.product.accept_payments == true
      .topic-price.mtop50= number_to_currency(@topic.product.price)
    - else
      .topic-price.mtop50= number_to_currency(@topic.price)