.row
  %hr.mleft60.mright40
  .topic-votes-and-deals
    #topic-percentage-row
      - unless @topic.votes.empty?
        = render :partial => "/topics/vote_percentage", locals: {topic: @topic}
    - if @topic.has_bargin?
      = render :partial => "/topics/deals", locals: {topic: @topic}
    .clear

.row
  .span6
    %h3.mleft40.mtop20.mbot30 Write Responses

.topic-comments
  - @comments.each do |comment|
    = render partial: "topics/comment_entry", locals: { comment: comment }

.row
  .new-topic-comment.mleft40
    .span1= image_tag(avatar_image)
    .span8.mbot30
      = simple_form_for [@topic, @comment], remote: true do |f|
        = f.input :description, label: false, input_html: { rows: 3 }
        .new-comment-form-submit
          = f.submit ""
