%li
  .span2
    = image_tag(topic.iImage)
  .span6
    .span4.topic-description
      .topic-title
        = link_to(topic.subject.capitalize, topic.url)
      .topic-listing-tag
        = link_to("shoes")
        ,
        = link_to("dress")
      .topic-meta
        %span
          = topic.user.name
          added this #{time_ago_in_words(topic.created_at)} ago
    .span2.pull-right
      %span.price
        = number_to_currency(topic.price)

  .clear