= title_tag @topic.subject

.show-topic
  .row.topic-links.ptop40.mleft20.mright40
    .span9
      .recommended-flag
        = link_to(@topic.poster_name) do
          #{@topic.poster_name}
        %span.text
          \&nbsp;##{@topic.human_status}
          this

        - if @topic.recommended?
          %span.text &nbsp;and
          %span.recommended-tag
            %span.recomend-icon
            Recommended it!

      .share-links
        %span.text
          Share

        - twitter_share_url = twitter_url(@topic)
        - facebook_share_url = facebook_url(@topic)

        = link_to new_topic_email_share_path(@topic), class: "email-icon", data: { remote: true } do
          &nbsp;
        = link_to twitter_share_url, class: "twitter-icon", data: { 'tweet-intent' => twitter_share_url } do
          &nbsp;
        = link_to facebook_share_url, facebook_data_params(@topic).merge(class: "facebook-icon like-topic") do
          &nbsp;

    - if current_user
      .pull-right
        .btn-group
          = link_to "#", class: "btn btn-danger btn-small dropdown-toggle", "data-toggle" => "dropdown" do
            Add to list
            %span.caret
          %ul.dropdown-menu
            %li= link_to "I might buy", copy_topic_path(@topic.shortcode)
            %li.divider
            %li= link_to "I have", copy_have_path(id: @topic.shortcode)
        .clear
    %hr.mtop7-mbot0.span9
  .row.mtop50
    = render :partial => "topic_detail"

  .row
    .span5
      \&nbsp;
    .span5{class: current_user ? "" : "offset4"}
      #topic-voting.pleft40
        = render partial: "topics/topic_votes", locals: { topic: @topic, vote: @vote }

  = render :partial => "topic_meta_information"
