= javascript_tag "Mightbuy.initialTags = #{@topic.tag_array}"

= content_for :head do
  %title= @topic.subject

.show-topic
  .row.topic-links.ptop40.mleft20.mright40
    .span3
      = link_to profile_path, :class => "btn btn-red btn-small" do
        %i.icon-chevron-left.mtop1.icon-white
        Back to list view
        
    - if current_user == @topic.user
      %ul.nav.nav-pills.pull-right
        %li.dropdown
          %a#drop4.dropdown-toggle.btn.btn-red.btn-small{"data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.icon-cog.icon-white.mtop1
            %b.caret
          %ul.dropdown-menu{"aria-labelledby" => "drop4", :role => "menu"}
            %li
              = link_to(bought_topic_path(@topic), :tabindex => "-1") do
                %i.icon-plus
                &nbsp;Add to have
            %li.divider
            %li
              = link_to edit_topic_path(@topic), :tabindex => "-1" do
                %i.icon-ok
                &nbsp;Update
            %li.divider
            %li
              = link_to topic_path(@topic), method: :delete, confirm: "Are you sure, you want to delete?", :tabindex => "-1" do
                %i.icon-remove
                &nbsp;Remove
    %hr.mtop7-mbot0.span9
  .row.mtop50.mbot30
    = render :partial => "topic_detail"

  .row
    .span5
      #social-sharing.mleft40
        = render partial: "topics/social_share_topic", locals: { topic: @topic }
    .span5{class: current_user ? "" : "offset4"}
      #topic-voting.pleft40
        = render partial: "topics/topic_votes", locals: { topic: @topic, vote: @vote }

  = render :partial => "topic_meta_information"


