.show-topic
  .row.topic-links.ptop30
    .span2
      = link_to profile_path do
        #home-link.mleft40
    - if current_user == @topic.user
      .span4.offset4
        %ul
          %li
            = link_to edit_topic_path(@topic.shortcode) do
              #edit-topic
          %li
            = link_to topic_path(@topic.shortcode), method: :delete do
              #delete-topic

  .row.mtop50
    .span4
      .topic-image.mleft40
        = image_tag topic_image(@topic), :size => "254x216"
    .span6
      .topic-details
        .topic-subject= @topic.subject.capitalize
        .topic-url.mtop10= @topic.url
        .topic-tags.mtop25= @topic.tags.collect(&:name).join(",")
        .topic-body.mtop35= @topic.body
        .topic-price.mtop50= number_to_currency(@topic.price)

  .row
    .span4
      - if current_user == @topic.user
        #social-sharing.mleft40
          = render partial: "topics/social_share_topic", locals: { topic: @topic }
      - elsif current_user
        #add-to-mightbuy.mleft40
          = link_to "Add to MightBuy"
    .span6{class: current_user ? "" : "offset4"}
      #topic-voting.pleft40
        = render partial: "topics/topic_votes", locals: { topic: @topic, vote: @vote }

  .row
    .span10
      %h3.mleft40.mtop60.mbot30 Write Responses

  .topic-comments
    - @comments.each do |comment|
      = render partial: "topics/comment_entry", locals: { comment: comment }

  .row
    .new-topic-comment.mleft40
      .span1= image_tag(avatar_image)
      .span8.mbot30
        = simple_form_for [@topic, @comment], remote: true do |f|
          = f.input :description, label: false, input_html: { rows: 3 }
          .new-comment-form-submit
            = f.submit ""

