.show-topic
  .row.topic-links.ptop30
    .span2
      = link_to profile_path do
        #home-link.mleft40
    - if current_user == @topic.user
      .span5.offset3
        %ul
          %li
            = form_for @topic, url: ihave_topic_path(@topic), method: :put, remote: true, html: { id: "ihave_edit_topic" } do |f|
              = check_box_tag :ihave, "yes", @topic.ihave?
              = label_tag :ihave, "I Have"
          %li
            = link_to edit_topic_path(@topic.shortcode) do
              #edit-topic
          %li
            = link_to topic_path(@topic.shortcode), method: :delete, confirm: "Are you sure, you want to delete?" do
              #delete-topic

  .row.mtop50.mbot30
    = render :partial => "topic_detail"

  .row
    .span5
      #social-sharing.mleft40
        = render partial: "topics/social_share_topic", locals: { topic: @topic }
    .span5{class: current_user ? "" : "offset4"}
      #topic-voting.pleft40
        = render partial: "topics/topic_votes", locals: { topic: @topic, vote: @vote }

  = render :partial => "topic_meta_information"
