= javascript_tag "Mightbuy.initialTags = #{@topic.tag_array}"

.show-topic
  .row.topic-links.ptop40
    .span2
      = link_to profile_path do
        #home-link.mleft40
    - if current_user == @topic.user
      .span6.offset2.topic-right-navbar
        %ul
          %li
            = link_to(bought_topic_path(id: @topic.shortcode), :class => "btn btn-success boughtit-button") do
              %i{class: "icon-plus icon-white"}
              I Bought it
          %li
            = link_to edit_topic_path(@topic.shortcode) do
              #edit-topic
          %li
            = link_to topic_path(@topic.shortcode), method: :delete, confirm: "Are you sure, you want to delete?" do
              #delete-topic

  .row.mtop50.mbot30
    = render :partial => "topic_detail"

  .row
    .span5
      #social-sharing.mleft40
        = render partial: "topics/social_share_topic", locals: { topic: @topic }
    .span5{class: current_user ? "" : "offset4"}
      #topic-voting.pleft40
        = render partial: "topics/topic_votes", locals: { topic: @topic, vote: @vote }

  = render :partial => "topic_meta_information"
