%div#details
  .row.user-details
    .span2
      = image_tag(avatar_image(@user), :class=>"image-border")
    .span7
      %h1
        = @user.name
      %span
        = @user.name
        joined
        = time_ago_in_words(@user.created_at)
        ago
  .mleft20.mright20
    %hr.hr.mleft20.mright20
  .row.mleft20.mtop40
    .span4.user-item-list
      .row
        .span4#user-mightbuy-topics
          %h3= user_wants_title_helper(@user)
          - if @topics.empty?
            %br
            - if @user == current_user
              You have not added any items
            - else
              User has not added any items
          - else
            %table.table.table-border-less
              - @topics.each_slice(3) do |topics|
                %tr
                  - topics.each do |topic|
                    %td{id: "topic-#{topic.id}-img"}
                      = link_to(context_topic_path(topic), :class=>"p-rel mask-link") do
                        = image_tag(topic.icon_image, size: "64x64", alt: "icon")
                        %span.mask-64

            - if @user == current_user
              .wishlist
                %span.text
                  Share 'I Mightbuy' list via

                - twitter_share_url = twitter_url(url: user_url(current_user), text: 'View my wishlist')
                - facebook_share_url = facebook_url(url: user_url(current_user), text: 'View my wishlist')

                = link_to twitter_share_url, class: "twitter-icon", data: { 'twitter-intent' => twitter_share_url } do
                  &nbsp;
                = link_to facebook_share_url, class: "facebook-icon" do
                  &nbsp;
                %br.clear
                %hr

      .row
        .span4#user-have-topics
          %h3= user_has_title_helper(@user)
          - if @haves.empty?
            %br
            - if @user == current_user
              You have not added any items
            - else
              User has not added any items
          - else
            %table.table.table-border-less
              - @haves.each_slice(3) do |topics|
                %tr
                  - topics.each do |topic|
                    %td{id: "topic-#{topic.id}-img"}
                      = link_to(context_topic_path(topic), :class=>"p-rel mask-link") do
                        = image_tag(topic.icon_image, size: "64x64", alt: "icon")
                        %span.mask-64

    .span5.user-activity-feed
      %h3= user_activity_feed_title_helper(@user)
      = render :partial => "activity"
