%div#details
  .row.user-details
    .span2
      = image_tag(avatar_image(@user), :class=>"image-border")
    .span7
      %h1 
        = @user.name
      %span
        = @user.name
        joined
        = time_ago_in_words(@user.created_at)
        ago
  .mleft20.mright20
    %hr.hr.mleft20.mright20
  .row.mleft20.mtop40
    .span4.user-item-list
      %h3 My wants
      %table.table.table-border-less
        - @topics.each_slice(3) do |topics|
          %tr
            - topics.each do |topic|
              %td
                = link_to(topic_path(topic)) do 
                  = image_tag(topic.icon_image, size: "64x64", alt: "icon")
      %h3.mtop60 My Recommendations
      %table.table.table-border-less.mbot40
        - @topics.each_slice(3) do |topics|
          %tr
            - topics.each do |topic|
              %td
                = link_to(topic_path(topic)) do 
                  = image_tag(topic.icon_image, size: "64x64", alt: "icon")
    .span5.user-activity-feed
      %h3 My Activity feed
      = render :partial => "activity"