.footer
  .row
    .span12
      .bevel-line.mbot20
  .row
    .span10
      %ul.footer-links
        %li= link_to("About Us", page_path("about"))
        %li= link_to("How it Works", page_path("help"))
        %li= link_to("Contact Us", page_path("contact"))
        %li= link_to("Jobs", page_path("jobs"))
        %li= link_to("Privacy Policy", page_path("privacy"))
        %li= link_to("Terms of Use",page_path("terms"))
        %li= link_to("Blog", "http://blog.mightbuy.it")
        %li Help
    .span2
      .prizzm-inc
        &copy; 2012 Prizzm, Inc.
