.header
  .row
    .span4
      %h1 MightBuy.
      %p
        Track stuff you might buy
    .span2.offset6
      = image_tag("signin-ribbon.png")

.content
  .row
    .span5
      .welcome-description
        %h2
          Add a link to anything.
        %h2
          Get your friends feedback.
        %p
          Add to your list from any website, or on your
          mobile. Share items when you need friends advice.
          It's almost as fun as actually buying things!

        %p
          Watch the video to see
          = link_to "how it works.", "#"

      = link_to("#") do
        .joinus-today


    .span7
      .mac-iphone-image
        = image_tag("iphone-bubble.png", id: "iphone-bubble")
        .clear
        %ul.slider-links
          %li= image_tag("slider.png")
          %li= image_tag("slider.png")
          %li= image_tag("slider-highlight.png")
          %li= image_tag("slider.png")
          %li= image_tag("slider.png")

%hr

.footer
  .row
    .span10
      %ul.footer-links
        %li About Us
        %li How it Works
        %li Contact Us
        %li Jobs
        %li Privacy Policy
        %li Terms of Use
        %li Blog
        %li Help
    .span2
      .prizzm-inc
        &copy; 2012 Prizzm, Inc.
