.header
  .row
    .span4
      = image_tag("mightbuy-logo.png", id: "mightbuy-logo")
      %p.caption
        Track stuff you might buy
    .span2.offset6
      = link_to(new_user_session_path) do
        = image_tag("signin-ribbon.png")

.content
  .row
    .span5
      .welcome-description
        %h2 Add a link to anything.
        %h2 Get your friends feedback.
        %ul
          %li Add to your list from any website
          %li Or on your mobile.
          %li Share items when you need friends advice.
        It's almost as fun as actually buying things!

      .row
        .span3
          = link_to(new_user_registration_path) do
            .tryitnow


    .span7
      .mac-iphone-image
        = link_to("http://itunes.apple.com/app/mightbuy/id548123429?mt=8") do
          = image_tag("iphone-bubble.png", id: "iphone-bubble")
        .clear
        %ul.slider-links
          %li= image_tag("slider.png")
          %li= image_tag("slider.png")
          %li= image_tag("slider-highlight.png")
          %li= image_tag("slider.png")
          %li= image_tag("slider.png")

.footer
  .row
    .span10
      %ul.footer-links
        %li= link_to("About Us", about_path)
        %li How it Works
        %li Contact Us
        %li Jobs
        %li Privacy Policy
        %li Terms of Use
        %li= link_to("Blog", "http://blog.mightbuy.it")
        %li Help
    .span2
      .prizzm-inc
        &copy; 2012 Prizzm, Inc.
