.welcomes-content
  .row
    .span5
      .welcome-description
        %h3 Track anything you #mightbuy
        .first-point
          = image_tag("check-mark.png")
          Bookmark from any website.
        %div
          = image_tag("check-mark.png")
          %a{:href=>"/search"} Search 
          or 
          %a{:href=>"/topics"} Browse.
        .first-point
          = image_tag("check-mark.png")
          Use 
          = link_to("mobile", "http://itunes.apple.com/app/mightbuy/id548123429?mt=8")
          while out shopping.
        .first-point
          = image_tag("check-mark.png")
          Read reviews, write reviews. 
        .last-point
          = image_tag("check-mark.png")
          Ask friends! Drop some hints! Xmas time!


      .row
        .span5
          = link_to(new_user_registration_path, :class=>"btn btn-red btn-rounded") do
            TRY IT NOW!

    .span7
      .mac-iphone-image
        = link_to("http://itunes.apple.com/app/mightbuy/id548123429?mt=8") do
          = image_tag("iphone-bubble.png", id: "iphone-bubble")
        .clear
        %ul.slider-links
          %li= image_tag("slider.png")
          %li= image_tag("slider.png")
          %li= image_tag("slider-highlight.png")
          %li= image_tag("slider.png")
          %li= image_tag("slider.png")
