.welcomes-content
  .row
    .span5
      .welcome-description
        %h2 Add a link to anything.
        %h2 Get your friends feedback.
        %p.first-point
          = image_tag("check-mark.png")
          Add to your list from any website
        %p
          = image_tag("check-mark.png")
          Or on your mobile.
        %p.last-point
          = image_tag("check-mark.png")
          Share items when you need friends' advice.

        It's almost as fun as actually buying things!

      .row
        .span3
          = link_to(new_user_registration_path) do
            .tryitnow


    .span7
      .mac-iphone-image
        = link_to("http://itunes.apple.com/app/mightbuy/id548123429?mt=8") do
          = image_tag("iphone-bubble.png", id: "iphone-bubble")
        .clear
        %ul.slider-links
          %li= image_tag("slider.png")
          %li= image_tag("slider.png")
          %li= image_tag("slider-highlight.png")
          %li= image_tag("slider.png")
          %li= image_tag("slider.png")
