.span4
  .topic-image.mleft40
    = image_tag topic_image(@have), alt: @have.subject
.span6
  .topic-details
    .topic-subject= @have.subject.capitalize
    .topic-url.mtop10
      =link_to(@have.short_url,@have.url)
    - if @have.owner?(current_user)
      .topic-meta.mtop10
        %span
          = @have.poster_name(current_user)
          added this #{time_ago_in_words(@have.created_at)} ago
    .topic-tags.mtop10
      - unless @have.tags.empty?
        %span
          Tags :&nbsp;
          = render :partial => "/shares/tags", locals: {topic: @have}


    .topic-body.mtop15= @have.body.try(:capitalize)
    .topic-price.mtop50= number_to_currency(@have.price)
