%div#details
  .row
    = simple_form_for @have do |form|
      .span10.mleft40.ptop25
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "#"} Enter the details

          %li
            %a{:href => "#"} Get from internet

      #custom-form
        = render :partial => "custom_form", locals: {form: form }
      #internet-form.hide
        = render :partial => "internet_form", locals: {form: form }

      .common-fields
        = form.input :price, :label => "Price $"
        = form.input :body, :as => :text, :label => "Add Notes", :hint => nil, :input_html => { :size => 40}
        = form.hidden_field :status
        %h3 Tags
        %ul{:type => "text", :id => "topic_tags", :name => "topic[tags][]"}
