= title_tag @have.subject
.show-topic
  .row.topic-links.ptop40.mleft20.mright40
    .span9
      .recommended-flag
        = link_to "#" do
          #{@have.poster_name}
        %span.text
          \&nbsp;##{@have.human_status}
          this

        - if @topic.recommended?
          %span.text &nbsp;and
          %span.recommended-tag
            %span.recomend-icon
            Recommended it!

      .share-links
        %span.text
          Share
        - twitter_share_url = twitter_url(@topic)
        - facebook_share_url = facebook_url(@topic)

        = link_to new_topic_email_share_path(@topic), class: "email-icon", data: { remote: true } do
          &nbsp;
        = link_to twitter_share_url, class: "twitter-icon", data: { 'tweet-intent' => twitter_share_url } do
          &nbsp;
        = link_to facebook_share_url, facebook_data_params(@topic).merge(class: "facebook-icon like-topic") do
          &nbsp;

    - if current_user
      .pull-right
        .btn-group
          = link_to "#", class: "btn btn-danger btn-small dropdown-toggle", "data-toggle" => "dropdown" do
            Add to list
            %span.caret
          %ul.dropdown-menu
            %li= link_to "I might buy", copy_topic_path(@have.shortcode)
            %li.divider
            %li= link_to "I have", copy_have_path(id: @have.shortcode)
        .clear
    %hr.mtop7-mbot0.span9
  .row.mtop50
    = render :partial => "have_detail", locals: { topic: @have }

  %hr.comment-have-separator
  .row.mleft40.mright40
    %h2 Review
    %p= simple_format(@have.body)
  %hr.comment-have-separator

  .row
    .span6
      %h3.mleft40.mtop20.mbot30 Write Responses

  .topic-comments
    - @comments.each do |comment|
      = render partial: "/topics/comment_entry", locals: { comment: comment }

  .row
    .new-topic-comment.mleft40
      .span1= image_tag(avatar_image)
      .span8.mbot30
        = simple_form_for [@have, @comment], remote: true do |f|
          = f.input :description, label: false, input_html: { rows: 3 }
          .new-comment-form-submit
            = f.submit ""

