= javascript_tag "Mightbuy.initialTags = #{@have.tag_array}"

.show-topic
  .row.topic-links.ptop30
    .span2
      = link_to profile_path do
        #home-link.mleft40
    - if @have.owner?(current_user)
      .span5.offset3
        %ul
          %li
            = form_for @have, url: have_path(@have), method: :put, remote: true, html: { id: "ihave_edit_topic" } do |f|
              = check_box_tag :ihave, "yes", true
              = label_tag :ihave, "I Have"
          %li
            = link_to edit_topic_path(@have.shortcode) do
              #edit-topic
          %li
            = link_to topic_path(@have.shortcode), method: :delete, confirm: "Are you sure, you want to delete?" do
              #delete-topic

  .row.mtop50.mbot30
    = render :partial => "have_detail"

