= javascript_tag "Mightbuy.initialTags = #{@have.tag_array}"
= content_for :head do
  %title= @have.subject
= link_to new_have_path, class: "btn btn-red add-item" do
  %i.icon-plus-sign.icon-white
  Add an item
.show-topic
  .row.topic-links.ptop40.mleft20.mright40
    .span3
      = link_to haves_path, :class => "btn btn-red btn-small" do
        %i.icon-chevron-left.mtop1.icon-white
        Back to list view
        
    - if @have.owner?(current_user)
      %ul.nav.nav-pills.pull-right
        %li.dropdown
          %a#drop4.dropdown-toggle.btn.btn-red.btn-small{"data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.icon-cog.icon-white.mtop1
            %b.caret
          %ul.dropdown-menu{"aria-labelledby" => "drop4", :role => "menu"}
            %li
              = link_to edit_have_path(@have.shortcode), :tabindex => "-1" do
                %i.icon-ok
                &nbsp;Update
            %li.divider
            %li
              = link_to have_path(@have.shortcode), method: :delete, confirm: "Are you sure, you want to delete?", :tabindex => "-1" do
                %i.icon-remove
                &nbsp;Remove
      %hr.mtop7-mbot0.span9
      
  .row.mtop50
    = render :partial => "have_detail", locals: { topic: @have }

  %hr.comment-have-separator
  .row.mleft40.mright40
    %h2 Review
    %p= @have.body
  %hr.comment-have-separator

  .row
    .span6
      %h3.mleft40.mtop20.mbot30 Write Responses

  .topic-comments
    - @comments.each do |comment|
      = render partial: "/topics/comment_entry", locals: { comment: comment }

  .row
    .new-topic-comment.mleft40
      .span1= image_tag(avatar_image)
      .span8.mbot30
        = simple_form_for [@have, @comment], remote: true do |f|
          = f.input :description, label: false, input_html: { rows: 3 }
          .new-comment-form-submit
            = f.submit ""