= javascript_tag "Mightbuy.initialTags = #{@have.tag_array}"

.show-topic
  .row.topic-links.ptop30
    .span2
      = link_to profile_path do
        #home-link.mleft40
    - if @have.owner?(current_user)
      .span5.offset2
        %ul
          %li
            %span I have
          %li
            = link_to edit_have_path(@have.shortcode) do
              #edit-topic
          %li
            = link_to have_path(@have.shortcode), method: :delete, confirm: "Are you sure, you want to delete?" do
              #delete-topic

  .row.mtop50.mbot30
    = render :partial => "have_detail"

