!!!
%html
  %head
    = yield :head

    = render partial: 'partials/meta', locals: { topic: @topic }
    = csrf_meta_tags

    = stylesheet_link_tag "landing", :media => "all"
    = javascript_include_tag "website"

    -#= render partial: "partials/uservoice"

    %title= "MightBuy - #{content_for(:title).empty? ? mightbuy_tag_line : content_for(:title)}"
  %body
    = render  partial: "shares/flash_notice"

    .container
      = render partial: "shares/landing_header"
      = yield
      = render partial: "shares/footer"
