!!!
%html
  %head
    %title MightBuy
    %meta{'name'=>"apple-itunes-app", 'content'=>"app-id=548123429"}
    = stylesheet_link_tag "landing", :media => "all"
    = javascript_include_tag "website"
    = csrf_meta_tags

  %body
    = render  partial: "shares/flash_notice"

    .container.search-items
      = render partial: "shares/search_header"
      = yield
      = render partial: "shares/footer"